.chat_component {
  min-height: 350px;
  padding: 40px 3% 0;

  p {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .chat_list {
    overflow: auto;
    height: 225px;
    color: var(--font-color);
  }

  .hr {
    margin: 15px 0;
  }

  .input_area {
    text-align: center;
  }
}
