.chat_component {
  padding: 10px 3% 1%;

  .users {
    font-size: 1.5rem;
    color: var(--font-color);
    margin-bottom: 5px;
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.6);

    .user_num {
      font-size: 1rem;
      display: inline-block;
      margin-left: 10px;
      position: relative;
      top: -5px;
    }
  }

  .chat_list {
    overflow: auto;
    height: 225px;
    color: var(--font-color);

    div {
      margin-top: 2px;
    }
    span {
      display: inline-block;
      margin-top: 2px;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--font-color);
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 4%;
    }
  }

  .hr {
    margin: 15px 0;
  }

  .input_area {
    text-align: center;
  }
}
