@use "../../_var.scss";

.home {
  max-width: var.$최대넓이;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-grow: 1;
  background-color: green;

  .leftTab {
    width: 33%;
    padding: 1%;
  }

  .rightTab {
    width: 67%;
    background-color: skyblue;
    min-height: calc(60vh - 60px);
    padding: 1% 1% 1% 0%;

    .content {
      width: 100%;
      min-height: 100%;
      background-color: var.$배경;
    }
  }
}
