.inventory_modal {
  width: 60vw;
  height: 60vh;

  .item_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .img_box {
      display: inline-block;
      margin-left: 8px;
      margin-right: 8px;

      .img {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        border-radius: 20px;
        border: 3px solid rgba(0, 0, 0, 0);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        &:hover {
          border: 3px solid var(--blue-color);
        }
      }

      .badge {
        height: 30px;
        width: 30px;
        margin-top: 15vh;
        border: 1px solid white;
        cursor: pointer;
      }

      .selected {
        border: 3px solid var(--blue-color);
      }
    }
  }

  .cal_box {
    margin-top: 30px;
    text-align: center;
    border-bottom: 30px solid rgba(0, 0, 0, 0);
    .red {
      color: var(--red-color);
    }
  }
}
