.story {
  color: var(--font-color);
  text-align: center;
  padding: 3%;
  padding-top: 3.7%;
}

.content {
  width: 84%;
  height: 20%;
  padding: 5px 15px 3px;
  border: 1.5px solid var(--font-color);
  background-color: var(--background-color);
  color: var(--font-color);
  border-radius: 20px;
  margin-bottom: 12px;
  display: inline-block;
}

.group {
  align-content: baseline;
  margin-bottom: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content_label {
  margin-top: 3px;
}

@media screen and (max-width: 768px) {
  .group {
    align-content: center;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 5%;
  }
}
