@use "../../../../_var.scss";

.plusButton {
    position: relative;
    width: 100%;
}

.popover {
    position: absolute;
    border-radius: 10px;
    background-color: var.$글씨;
    top: 1rem;
    margin-top: 3px;
    left: 0px;
    color: var.$배경;
}

.popoverButton {
    border: 1.5px solid var.$배경;
    color: var.$배경;

    &:hover {
        background-color: var.$흐린글씨;
        color: var.$글씨;
      }
}