.NoticeManageModify {
  padding: 4% 0 4% 3%;
  color: var(--font-color);

  span {
    margin-right: 20px;
  }

  .content_div {
    margin-top: 20px;

    span {
      float: left;
    }

    .content {
      padding: 1% 2%;
      border: solid 1px var(--font-color);
      border-radius: 20px;
      color: var(--font-color);
      justify-content: center;
      align-items: center;
      display: inline-block;
      width: 80%;
      min-height: 500px;
      display: inline-block;
      background-color: var(--background-color);
      resize: none;
    }
  }

  .button_box {
    text-align: right;
    margin-top: 10px;
    margin-right: 10%;
  }
}

@media screen and (max-width: 768px) {
  .NoticeManageModify {
    padding-left: 10%;
    span {
      display: block;
      margin-bottom: 10px;
    }
    .content_div {
      .content {
        width: 85%;
        min-height: 400px;
      }
    }
  }
}
