.notice_detail {
  padding: 6%;
  color: var(--font-color);

  .bold_hr {
    width: 100%;
    border: 1.5px solid var(--font-color);
  }

  .thin_hr {
    width: 100%;
    border: 1px solid var(--font-color);
  }

  .title {
    display: grid;
    grid-template-columns: 15% 50% 35%;
    height: 30px;

    span {
      display: inline-block;
      padding-top: 8px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .content {
    padding: 10px 5%;
    min-height: 300px;
  }
}
