.songModalContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 520px;

  .songModalImg {
    padding: 5% 4% 3% 6%;
    width: 50%;
    height: auto;
    min-width: 230px;
  }

  .songModalContentBox {
    padding: 5% 6% 3% 0%;
    color: var(--font-color);
    min-width: 170px;

    .songTitle {
      font-weight: bold;
    }

    .songDetail {
      margin-top: 5%;
    }
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
  .songModalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 300px;

    .songModalImg {
      padding: 6%;
      width: 80%;
      height: auto;
    }

    .songModalContentBox {
      color: var(--font-color);
      padding: 0% 5% 5% 5%;
      width: 80%;

      .songTitle {
        font-weight: bold;
      }
    }
  }
}
