@use "../../../_var.scss";

@keyframes sideNavEffect {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.side_board {
  width: 100%;
  min-width: 188px;
  font-size: 1rem;
  top: 10px;
  position: sticky;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 5px 10% 25px;
  border-radius: 10px;

  hr {
    margin: 0;
    background: var(--font-color);
    height: 1.5px;
    border: 0;
  }

  p,
  h4 {
    margin: 20px 0px 15px 20px;
  }

  p {
    cursor: pointer;
    position: relative;
    color: var(--fade-font-color);

    &:hover {
      color: rgb(123, 123, 123);
    }

    div {
      position: absolute;
      top: -10px;
      left: -10px;
      height: 36px;
      width: 100%;
      animation: 0.3s ease-in-out sideNavEffect;
      background-color: rgba(94, 94, 94, 0.3);

      &::after {
        content: "";
        float: right;
        border-right: 6px solid rgba(254, 155, 66, 0.7);
        border-bottom: 36px solid rgba(254, 155, 66, 0.7);
      }
    }
  }

  h4 {
    font-weight: bold;
  }
}

.now {
  color: var(--font-color) !important;
  text-shadow: 1px 1px 1px rgb(132, 132, 132);
  position: relative;
}

@media screen and (max-width: 992px) {
  .side_board {
    min-width: 171px;

    h4 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .side_board {
    display: none;
  }
}
