// @use "../../../_var.scss";

.songListBox {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;

  .songList {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2%;
    padding-right: 1%;
  }
}

.songListBox::-webkit-scrollbar {
  width: 5px;
}

.songListBox::-webkit-scrollbar-thumb {
  height: 30%;
  background: var(--fade-font-color);
  border-radius: 10px;
}

.songListBox::-webkit-scrollbar-track {
  background: none;
}

.songBtn {
  background: none;
  border: none;
  align-items: center;
  color: var(--font-color);
}

.songSpan {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: none;
  border: none;
  align-items: center;
  color: var(--font-color);
}
.userSongSpan {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: none;
  border: none;
  align-items: center;
  color: var(--red-color);
}

.playingSongSpan {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: none;
  border: none;
  align-items: center;
  color: var(--blue-color);
}

.songImg {
  width: 40px;
  margin-right: 3%;
}
