// @use "../../../_var.scss";

.songList {
  display: flex;
  justify-content: space-between;

  align-items: flex-start;
  padding-top: 2%;
}

.songSpan {
  background: none;
  border: none;
  align-items: center;
  color: white;
}

.songBtn {
  background: none;
  border: none;
  align-items: center;
  color: white;
}

.userSongSpan {
  background: none;
  border: none;
  align-items: center;
  // color: var(--font-color);
  color: pink;
}

.playingSongSpan {
  background: none;
  border: none;
  align-items: center;
  // color: var(--font-color);
  color: blue;
}
