:root[color-theme="dark"] {
  --background-color: #313131;
  --font-color: #ececec;
  --fade-font-color: #8d8d8d;
  --green-color: #95f49e;
  --red-color: #e89393;
  --blue-color: #5b69ea;
  --modal-background: rgb(52, 52, 52);
  --broadcast-color: rgb(25, 25, 25);
}

:root[color-theme="light"] {
  --background-color: #ffffff;
  --font-color: #242424;
  --fade-font-color: #aeaeae;
  --green-color: #36cd45;
  --red-color: #dd4f4f;
  --blue-color: #242f96;
  --modal-background: rgb(209, 209, 209);
  --broadcast-color: rgb(161, 161, 161);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadEffect2 {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes loadEffect3 {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes loadEffect4 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes loadEffect5 {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes loadEffect6 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  65% {
    opacity: 0.65;
    transform: scale(1.01);
  }
  85% {
    opacity: 0.85;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
