:root[color-theme="dark"] {
  --background-color: #313131;
  --font-color: #ececec;
  --fade-font-color: #8d8d8d;
  --green-color: #95f49e;
  --red-color: #e89393;
  --blue-color: #5b69ea;
  --modal-background: rgb(52, 52, 52);
}

:root[color-theme="light"] {
  --background-color: #cacaca;
  --font-color: #242424;
  --fade-font-color: #7a7a7a;
  --green-color: #36cd45;
  --red-color: #dd4f4f;
  --blue-color: #242f96;
  --modal-background: rgb(184, 184, 184);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
