@use "../../_var.scss";

.mypage {
  max-width: var.$최대넓이;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-grow: 1;

  .leftTab {
    width: 22%;
    padding: 1%;
  }

  .rightTab {
    width: 78%;
    min-height: calc(100vh - 60px);
    padding: 1% 1% 1% 0%;

    .content {
      width: 100%;
      min-height: 100%;
      background-color: var(--background-color);
    }
  }
}
