@use "../../_var.scss";

.broadcast {
  max-width: var.$최대넓이;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  min-height: 250px;
  position: relative;
  transition: 0.3s;
  background-color: var(--broadcast-color);
  z-index: 0;
  margin-bottom: 30px;

  .broad_back {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
    position: absolute;
  }

  &:hover .broad_back {
    background-color: rgba(0, 0, 0, 0.4);
  }
  &:hover .play,
  &:hover .share {
    visibility: visible;
  }
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgb(200, 200, 200);
  visibility: hidden;
  cursor: pointer;

  &:hover {
    color: rgb(255, 83, 83);
    transition: 0.4s;
  }
}

.share {
  position: absolute;
  top: 3%;
  right: 1%;
  font-size: 23px;
  color: rgb(200, 200, 200);
  visibility: hidden;
  cursor: pointer;

  &:hover {
    color: rgb(130, 130, 255);
    transition: 0.2s;
  }
}

.mypage {
  position: fixed;
  min-width: 100px;
  min-height: 60px;
  width: 50vh;
  height: 30vh;
  max-width: 460px;
  min-height: 140px;
  transform: translateY(63vh);
  z-index: 1;
}

.mybackground {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .mypage {
    position: fixed;
    min-width: 150px;
    min-height: 90px;
    width: 50vw;
    height: 30vw;
    transform: translateY(78vh);
  }

  .play {
    font-size: 30px;
  }
  .share {
    font-size: 18px;
  }
}
