@use "../../../_var.scss";

.input_text {
  width: 200px;
  height: 30px;
  padding: 5px 15px 3px;
  border: 1.5px solid var.$글씨;
  background-color: var.$배경;
  color: var.$글씨;
  border-radius: 20px;
  margin-bottom: 12px;
}

.input_text:focus {
  outline: none;
}

.input_text::placeholder {
  font-size: 1rem;
  color: var.$흐린글씨;
}
