.bg {
  display: flex;
  background: linear-gradient(
    #5f6062 5%,
    #a7a5a8 23%,
    #a7a5a8 35%,
    #a7a5a8 40%,
    #a7a5a8 50%,
    #a7a5a8 60%,
    #a7a5a8 65%,
    #a7a5a8 77%,
    #5f6062 95%
  );
  color: #ffffff;
  height: 70px;
  width: 80%;
  cursor: pointer;
}

.clicked {
  display: flex;
  flex-grow: 1;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  border: 1px solid #4f5050;
  border-radius: 5%;
  background: linear-gradient(90deg, #5f6062, rgba(255, 0, 0, 0) 30%),
    linear-gradient(180deg, #48494b, rgba(0, 0, 255, 0) 30%);
  background-color: #a7a5a8;
}

.unclicked {
  display: flex;
  flex-grow: 1;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  border: 1px solid #4f5050;
  border-radius: 5%;
  color: #5f6062;
}

.play {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #4f5050;
  border-radius: 5%;
  background-color: rgba(223, 1, 1, 0.6);
}

.stop {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #4f5050;
  border-radius: 5%;
  background-color: rgb(0, 0, 0, 0.4);
}
